<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/welcome">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/read">Add Elecricians</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/view">view Electricians</a>
      </li><li class="nav-item">
          <a class="nav-link" routerLink="/read1">Add Plumpers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/view1">View Plumpers</a>
          </li>
    <li>
      <a class="nav-link" routerLink="/search">search electrician</a>
    </li>
    <li>
      <a class="nav-link" routerLink="/search1">search for plumper</a>
    </li>  
    <li>
        <a class="nav-link" (click)="onSubmit()">logout</a>
      </li>
      

  </ul>
</nav>
