<div class="topnav">
  <a class="active" >ElectroPlumps</a>
  <div class="topnav-right">
    <a routerLink="/signup">SignUp</a>
    <a routerLink="/login">Login</a>
  </div>
</div>
<section>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="assets/img/images.jpg" alt="First slide" style="height: 400px; width: 400px;">
      </div> 
    </div>
  </div>
</section>
<section id="about">
<h3 style="font-family: 'Times New Roman', Times, serif;color: blueviolet;">About</h3>
<p style="font-size:20px;color:black;">The Sanitary Engineering application simply a web application for peoples who needs sanitary engineers near to them.
  Here they can search for the engineers and view their details fulfil their needs...
</p>

</section>
<section>
  <h3 style="font-family: 'Times New Roman', Times, serif;color: blueviolet">Services</h3>
  <P style="font-size:20px;color:black;">We provide the best search for sanitary engineers like electricians and plumpers nearer to you</P>
</section>
