<app-navbar></app-navbar>
<!-- <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
  </div> -->
  <div id="demo" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
      </ul>
      
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/img/back.jpg" alt="Los Angeles" width="1450" height="400">
        </div>
        <div class="carousel-item">
          <img src="assets/img/admin.jpg" alt="Chicago" width="1350" height="400">
        </div>
        <div class="carousel-item">
          <img src="assets/img/i.jpg" alt="New York" width="1350" height="400">
        </div>
        <div class="carousel-item">
            <img src="assets/img/home.jpg" alt=""width="1350" height="400">
        </div>
      </div>
      
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    <br><br>
    <div class="container" >
        <div class="row">
            <div class="col col-12 col-sm-6 col-md-4">
                   <div class="card-group" margin-left="0px">
                           <div class="card">
                             <img class="card-img-top" src="assets/img/icon.png" alt="Card image cap" style="height:200px;width: 300px;">
                             <div class="card-body">
                               <!-- <h5 class="card-title">Mobiles</h5> -->
                               <p class="card-text">Allmost 100 workers across the kerala including electrician and plumpers</p>
                               
                             </div>
                           </div>
                   </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-4">
                <div class="card-group" margin-left="0px">
                        <div class="card">
                          <img class="card-img-top" src="assets/img/icon1.png" alt="Card image cap"  style="height:200px;width: 300px;">
                          <div class="card-body">
                            <!-- <h5 class="card-title">Mobiles</h5> -->
                            <p class="card-text">most of the major cities are included like kochi,calicut,trivandrum</p>
                            
                          </div>
                        </div>
                </div>
         </div>
         <div class="col col-12 col-sm-6 col-md-4">
            <div class="card-group" margin-left="0px">
                    <div class="card">
                      <img class="card-img-top" src="assets/img/icon2.png" alt="Card image cap"  style="height:200px;width: 300px;">
                      <div class="card-body">
                        <!-- <h5 class="card-title">Mobiles</h5> -->
                        <p class="card-text">daily getting average 50 works per area</p>
                        
                      </div>
                    </div>
            </div>
     </div>
        </div>
    </div>
    
    