<!-- <div class="jumbotron">
  <h1 class="display-4" style="text-align: center">Welcome to ElectroPlumps</h1>
  <br>
  <p class="lead" style="text-align: center">ElectroPlumps will help you to find your requirements</p>
  <p style="text-align:center">This is the place where you can search for sanitary  engineers near to you</p>
  <p class="lead">
    <br>
    <a class="btn btn-primary btn-lg" href="/userinfo" role="button" style="margin-left: 590px">Let's search</a>
    <a class="btn btn-primary btn-lg" href="/userinfo" role="button" style="margin-left: 590px">Let's search</a>
  </p>
</div>
<div class="container">
  <div class="row">
    <div class="col col-12 col-sm-6 col-md-4"></div>
    <div class="col col-12 col-sm-6 col-md-4">
         <img src="assets/img/back.jpg"> -->
  <!-- <h2>Colored Spinners</h2>
  <p>Use any <strong>text color utilites</strong> to add a color to the spinner:</p>
                                        
  <div class="spinner-border text-muted"></div>
  <div class="spinner-border text-primary"></div>
  <div class="spinner-border text-success"></div>
  <div class="spinner-border text-info"></div>
  <div class="spinner-border text-warning"></div>
  <div class="spinner-border text-danger"></div>
  <div class="spinner-border text-secondary"></div>
  <div class="spinner-border text-dark"></div>
  <div class="spinner-border text-light"></div>
</div>
<div class="col col-12 col-sm-6 col-md-4"></div>
</div>
</div> --> 
<app-user-nav></app-user-nav>
<div style="text-align:center;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size: 50px">
  <h2>Sanitary Engineering Services</h2>
  
</div>

<!-- The App Section -->
<div class="container">
  <div class="row">
    <div class="column-66">
      <h1 class="xlarge-font"><b>The ElectroPlump App</b></h1>
      <h1 class="large-font" style="color:MediumSeaGreen;"><b>Why This?</b></h1>
      <p style="font-size: 20px"><span style="font-size:36px">Best result for your needs.</span> You should use this application beccause it gives the best search for your needs for sanitary engineers in your area...!!!</p>
      <a class="button" href="/userinfo" role="button">search for electrician</a>
      <a class="button" href="/userinfo1" role="button">search for plumper</a>
    </div>
    <div class="column-33">
        <img src="assets/img/i.jpg" width="320" height="650">
    </div>
  </div>
</div>

<!-- Clarity Section -->
<!-- <div class="container" style="background-color:#f1f1f1">
  <div class="row">
    <div class="column-33">
      <img src="assets/img/w.jpg" alt="App" width="335" height="471">
    </div>
    <div class="column-66">
      <h1 class="xlarge-font"><b>Clarity</b></h1>
      <h1 class="large-font" style="color:red;"><b>Pixels, who?</b></h1>
      <p><span style="font-size:24px">A revolution in resolution.</span> Sharp and clear photos with the world's best photo engine, incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <button class="button" style="background-color:red">Read More</button>
    </div>
  </div>
</div> -->

<!-- The App Section -->
<!-- <div class="container">
  <div class="row">
    <div class="column-66">
      <h1 class="xlarge-font"><b>The App</b></h1>
      <h1 class="large-font" style="color:MediumSeaGreen;"><b>Why buy it?</b></h1>
      <p><span style="font-size:36px">Take photos like a pro.</span> You should buy this app because lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <button class="button">Download Application</button>
    </div>
    <div class="column-33">
        <img src="assets/img/e.jpg" width="335" height="471" >
    </div>
  </div>
</div> -->
