
<form action (ngSubmit)=onSubmit(a) #a="ngForm" ngNativeValidate>
    <br>
    <h3 style="font-family: 'Times New Roman', Times, serif; color:brown">Lets  Login and Join with Us...</h3>
  <div class="imgcontainer">
    <img src="assets/img/admin.jpg" alt="image" style="border-radius: 25%;">
  </div>

  <div class="container">
    <div class="row">
      <div class="col col-12 col-sm-6 col-md-4"></div>
      <div class="col col-12 col-sm-6 col-md-4">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required class="form-control" ngModel required>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required class="form-control" ngModel required>
        
    <button type="submit" class="btn btn-info">Login</button>
</div>
<div class="col col-12 col-sm-6 col-md-4"></div>
</div>
</div>
</form>
